* {
  box-sizing: border-box;
}

body {
  background-color: #333;
  color: #FFF;
  font-family: 'DIN', sans-serif;
}

.hidden {
  display: none;
}

header {
  margin-bottom: 50px;
}

header > * {
  display: inline;
}

header > button {
  position: relative;
  top: -5px;
}

.controls > * {
  display: inline;
}

.label {
  width: 100px;
  height: 50px;
  margin-right: 7px;
  position: relative;
  top: -19px;
  border: none;
}

.pad {
  width: 50px;
  height: 50px;
  margin-right: 5px;
  background-color: #666;
  border: none;
}

.pad:focus {
  background-color: #FFF;
}

.pad:hover {
  background-color: #CCC;
}

.divider {
 margin-right: 10px;
}

.selected {
  background-color: #FFF;
}