* {
  box-sizing: border-box;
}

body {
  background-color: #2A2D34;
  color: #FFF;
  font-family: 'DIN', sans-serif;
}

.hidden {
  display: none;  
}

header {
  margin-bottom: 50px;
}

header > * {
  display: inline;
}

header > button {
  position: relative;
  top: -5px;
}

.controls > * {
  display: inline;
}


main {
  margin: 0 auto;
  width: 80%;
}

.label, .save-load {
  width: 75px;
  height: 50px;
  margin-right: 7px;
}

.label {
  position: relative;
  top: -19px;
  border: none;
  
}

.pad {
  width: 50px;
  height: 50px;
  margin-right: 5px;
  background-color: #666;
  border: none;
}

.pad:focus {
  background-color: #F39237;
}

.pad:hover {
  background-color: #CCC;
}



.save-load {
  margin-right: 5px;
  text-transform: lowercase;
  font-weight: bold;
  display: inline;
}

.load {
  margin-top: 50px;
}
article {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 920px;
}

.data {
  font-size: 1
}

.pattern {
  display: inline;
}

.pattern > .row > .beat {
  width: 5px;
  height: 5px;
  margin-right: 1px;
  background-color: #666;
  border: none;
}

.row {
  margin-bottom: -5px;
}

.divider {
  margin-right: 10px;
}
 
.selected, .pattern > .row > .beat.selected {
  background-color: #F39237;
}